body {
  margin: 0; }

.arrowbtn {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #111;
  border: 2px solid hotpink;
  border-radius: 100px;
  color: hotpink;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  left: 50%;
  line-height: 100px;
  margin-left: -50px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  
  .arrowbtn:hover {
    background: white;
    border-color: white;
    color: #111; }

  .arrowbtn:after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 25px;
    height: 25px;
    top: 50%;
    left: 50%; }

.arrowbtn-down {
  bottom: 50px; }

.arrowbtn-down:after {
  margin-left: -12.5px;
  margin-top: -18.75px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  transform: rotateZ(45deg); }
  
.main-content {
  width: 1200px;
  max-width: 90%;
  display: block;
  margin: 0 auto; }

.landing {
  background-image: url("../media/landing-bg.jpg");
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-position: center;
  position: relative; }
  .landing img {
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

header {
  background-color: #000000;
  position: relative;
  z-index: 9999; }
  header img {
    width: 250px;
    float: left;
    position: absolute; }

.fixHeader {
  position: fixed;
  top: 0;
  width: 100%; }

.fixAbout {
  padding-top: 150px !important; }

.about {
  background: #333333;
  padding: 50px 0; }

#menu-outer {
  height: 84px; }

.table {
  display: table;
  margin: 0 auto; }

ul#horizontal-list {
  list-style: none; }

ul#horizontal-list li {
  display: inline;
  color: #fff;
  padding: 0 25px; }

.about p {
  color: #ffffff; }

.work {
  background-color: #000000;
  padding: 50px 0; }

.project img {
  max-width: 80%;
  width: 300px;
  margin: 0 auto;
  display: block;
  opacity: 0.8; }

.project figcaption {
  text-align: center;
  position: relative;
  color: #ffffff; }

.bottom-row {
  border-top: 1px solid #ffffff;
  margin-top: 50px; }

footer {
  background-color: #333333; }
  footer h3 {
    text-align: center;
    color: #ffffff;
    padding: 50px 0;
    margin: 0; }

@media only screen and (max-width: 768px) {
  .landing {
    display: none; }
  .about img {
    display: block;
    margin: 0 auto;
    max-width: 90%; }
  .menu-l {
    display: none; }
  header img {
    margin: 0 auto;
    display: block;
    float: none;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .about p {
    color: #ffffff;
    font-size: 1.1em;
    padding-top: 25px; }
  .bottom-row {
    border-top: none;
    margin-top: 0px; }
  .project img {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 50px; } }

